@import url('../../../../globalStyles/custom.css');

.df__container {
  border-right: 2px solid hsl(var(--dark-grayish-blue), 0.4);
  width: 100%;
  height: 100%;
  padding-right: 2rem;
}

.dr__row h3 {
  margin-bottom: 1rem;
}

.dr__row:not(:first-child) {
  margin-top: 2.5rem;
}
