@import url('../custom.css');

.submenu {
  background: white;
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--mainTransition);
  max-height: 0;
  opacity: 0;
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  opacity: 1;
  max-height: 100%;
}

.submenu-center {
  display: grid;
  gap: 1rem 2rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.submenu h4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.submenu-column:first-of-type {
  border-right: 2px solid hsl(var(--dark-grayish-blue), 0.4);
}

.submenu-column {
  display: flex;
  flex-direction: column;
}

.column-link {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 2rem;
  width: 25rem;
}

.column-link img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-inline: 1rem 3rem;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}

.item-container .chevron {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--mainTransition);
}

.chevron.chevron-down {
  transform: rotate(90deg);
  color: hsl(var(--orange-primary));
}

.models {
  margin-top: 1.6rem;
  margin-left: 8rem;
  display: none;
}

.models a:not(.models a:first-of-type) {
  margin-top: 1rem;
}

.show {
  display: flex;
  flex-direction: column;
}

.submenu-column a {
  transition: var(--mainTransition);
}

.submenu-column a:hover,
.chevron:hover {
  color: hsl(var(--orange-primary));
}

.highlight {
  color: hsl(var(--orange-primary));
}
