@import url('./custom.css');

/* Global styles */

html {
  font-size: 62.5%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rubik', sans-serif;
  background: hsl(var(--light-graish-blue));
  color: hsl(var(--dark-blue));
  line-height: 1.5;
  font-size: 1.6rem;
  height: 100vh;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(var(--dark-grayish-blue));
}
