@import url('../../../globalStyles/custom.css');

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: hsl(var(--orange-secondary));
  box-shadow: var(--light-shadow);
  padding-block: 1.5rem;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header__toggler {
  font-size: 3.5rem;
  color: var(--black);
  background: transparent;
  border-color: transparent;
  transition: var(--mainTransition);
  cursor: pointer;
}

.nav-header__toggler:hover,
.nav-user .cart:hover {
  color: hsl(var(--orange-primary));
}

.nav-links {
  display: none;
}

.nav-user {
  display: none;
}

.nav-user .user-login {
  border-color: transparent;
  display: inline-block;
  color: white;
  cursor: pointer;
  transition: var(--mainTransition);
  letter-spacing: var(--spacing);
}

.nav-user .user-cart {
  background-color: transparent;
  font-size: 3rem;
  color: black;
  display: flex;
  align-items: center;
  transition: var(--mainTransition);
  position: relative;
  margin-left: 2rem;
}

.nav-user .user-cart > p {
  position: absolute;
  text-align: center;
  top: -15px;
  right: -15px;
  background-color: hsl(var(--light-graish-blue));
  font-size: 2rem;
  border-radius: 50%;
  width: 3rem;
}

.nav-user .user-login {
  background-color: hsl(var(--light-graish-blue));
  color: black;
  padding: 0.5rem 2rem;
  border-radius: var(--radius);
  transition: var(--mainTransition);
  margin-left: 1rem;
}

.nav-user .user-login:hover {
  background: hsl(var(--orange-primary), 0.7);
}

@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .nav-header__toggler {
    display: none;
  }

  .nav-user {
    display: flex;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links a {
    padding-block: 10px;
  }

  .nav-links li {
    height: 100%;
  }

  .link-btn {
    height: 100%;
    padding-inline: 1.6rem;
    background: transparent;
    border-color: transparent;
    font-size: 1.8rem;
    color: black;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--mainTransition);
  }

  .link-btn:hover {
    color: hsl(var(--orange-primary));
  }
}
